{% extends "DellaertDCIMBundle::layout.html.twig" %}

{% block content %}
	{% if entity is defined %}
    	<script type="text/javascript">
    	setTimeout(function() {
    		  window.location.href = "{{ path('PersonalRevenueList') }}";
    		}, 3000);
    	</script>
    	<h1>Personal revenue deleted: {{ entity.title }}</h1>
    	<p>You will be returned to the personal revenue list in 3 seconds...</p>
    {% else %}
		<h1>Unknown personal revenue</h1>
		<p>The specified personal revenue is not available.</p>
    {% endif %}
{% endblock %}
