{% extends "DellaertDCIMBundle::layout.html.twig" %}

{% block content %}
	{% if entity is defined %}
    	<script type="text/javascript">
    	setTimeout(function() {
    		  window.location.href = "{{ app.session.get('return_url') }}";
    		}, 3000);
    	</script>
    	<h1>Issue deleted: {{ entity.title }}</h1>
    	<p>You will be returned to the issue list in 3 seconds...</p>
    {% else %}
		<h1>Unknown issue</h1>
		<p>The specified issue is not available.</p>
    {% endif %}
{% endblock %}
