<script type="text/javascript">
	$(function() {
		$("#subtabbuttons").tabs("#subpanes > div", { 
			effect: 'ajax'
		});
	});
</script>
{% spaceless %}
<div id="subtabbuttons">
   	<a href="{{ path('CompanyLastActivity', { 'mode': 'day', 'back': 0 }) }}" class="button left">Per day</a>
   	<a href="{{ path('CompanyLastActivity', { 'mode': 'week', 'back': 0 }) }}" class="button middle">Per week</a>
   	<a href="{{ path('CompanyLastActivity', { 'mode': 'month', 'back': 0 }) }}" class="button middle">Per month</a>
   	<a href="{{ path('CompanyLastActivity', { 'mode': 'year', 'back': 0 }) }}" class="button right">Per year</a>
</div>
{% endspaceless %}
<div class="clearfix"></div>
<div id="subpanes">
   	<div></div>
</div>