{% extends "DellaertDCIMBundle::layout.html.twig" %}

{% block content %}
	{% if entity is defined %}
    	<script type="text/javascript">
    	setTimeout(function() {
    		  window.location.href = "{{ app.session.get('return_url') }}";
    		}, 3000);
    	</script>
    	<h1>Work entry deleted: {{ entity.date.format('Y-m-d') }} - {{ entity.amount }}</h1>
    	<p>You will be returned to the work entry list in 3 seconds...</p>
    {% else %}
		<h1>Unknown work entry</h1>
		<p>The specified work entry is not available.</p>
    {% endif %}
{% endblock %}
